{% extends "base.html" %}

{% block content %}
<div>
    <!-- A wrapper for all the blog posts -->
    <div class="posts">
        

        <!-- A single blog post -->
        <div class="content pure-u-1 pure-u-md-3-4"></div>
        <section class="post">
            <h1>write a new blog post</h1>
        
            </header>

            <div class="post-description">
                <form id="blogform" method='post'>
                    <label>
                        Title:
                    <input type="text" name='title' />
                    </label>
                    <br>
                    <br>
                    <label>
                        Body:
                    </label>
                    <br>   
                    <textarea name='body' form="blogform" /></textarea>
                    <br>
                    <input type="submit" value='Submit Post' /> 
                </form>  
            </div>
        </section>

{% endblock %}